<!-- <p>manage-framework works!</p> -->
<div class="container">
    <mat-label class="control-frame-label">ISO27002 INTERNATIONAL STANDARD / A.13</mat-label>
    <div class="row col-sm-12 col-lg-12 col-md-12 mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-1">
            <h1 class="manage-frame-h3">Communications Security</h1>
            <mat-label class="control-frame-select">Communications security is all about secure communication. If you're
                looking
                for the latest in wireless headphones for your enjoyment and private listening, whether to TV, stereo,
                home
                entertainment such as theater, iTunes or Ipod, you might do well to look at the highly recommended
                Sennheiser RS
                130 wireless headphones. </mat-label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-1">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
                height="60%" width="100%">
        </div>
    </div>
    <!-- <cdk-accordion>
        <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
            role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index"> -->

    <!-- <div class="ml-5 mr-5" (click)="accordionItem.toggle()">
                <div class="col-12 config-content">
                    <mat-label class="config-label"> {{ item }}</mat-label>
                    <mat-label class="float-right config-right-text">Click to {{ accordionItem.expanded ? 'close' :
                        'open' }}</mat-label>
                </div>
                <div class="col-12 config-content">
                    <mat-label class="desc-label">{{subItems}}
                    </mat-label>
                </div>
                <div class="mt-3 mb-3 config-content">
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
            </div>

            <div class="example-accordion-item-body" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <section class="example-section">
                    <mat-checkbox class="example-margin">13.2.1 Information tranfer policies and procedures</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin">13.2.2 Agreements on information transfer</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox class="example-margin">13.2.3 Electronic messaging</mat-checkbox>
                </section>
            </div> -->

    <!-- <mat-card class="example-card mt-5" (click)="accordionItem.toggle()">
                <mat-card-content class="mt-2">
                    <mat-label class="configure-label">{{ item }}</mat-label><br />
                    <mat-label class="standard-label">{{subItems}}</mat-label>
                    <div class="mt-5">
                        <mat-label class="desc-label">If you don't have the capacity to make a proper risk assessment,
                            then
                            following a standard is a good option.</mat-label>
                    </div>

                </mat-card-content>
                
                <div class="example-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index">
                    <mat-selection-list>
                        <mat-list-option checkboxPosition="before">
                            13.2.1 Information tranfer policies and procedures
                        </mat-list-option>
                        <mat-divider ></mat-divider>
                        <mat-list-option checkboxPosition="before">
                            13.2.2 Agreements on information transfer
                        </mat-list-option>
                        <mat-divider></mat-divider>
                        <mat-list-option checkboxPosition="before">
                            13.2.3 Electronic messaging
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </mat-card> -->

    <mat-accordion>
        <mat-expansion-panel hideToggle class="accordian-style">
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        <div class="col-12">
                            <mat-label class="col-8 config-label">A.13.1 Network security management</mat-label>
                            <mat-label class="col-4 float-end config-right-text">est. 500h</mat-label>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="col-12">
                            <mat-label class="desc-label">This framework contains controls with pre-defined activites
                                which
                                can immediatly be assigned and implemented.
                            </mat-label>
                        </div>
                    </mat-panel-description>
                </div>
                <mat-progress-bar mode="determinate" value="40" class="mat-progress-bar-element mt-5">
                </mat-progress-bar>
            </mat-expansion-panel-header>
            <!-- <p>This is the primary content of the panel.</p> -->

            <div class="mt-5">
                <mat-selection-list>
                    <mat-list-option checkboxPosition="before">
                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.1 Information tranfer policies and procedures
                            </mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                    <mat-list-option checkboxPosition="before">
                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.2 Agreements on information transfer
                            </mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                    <mat-list-option checkboxPosition="before">
                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.3 Electronic messaging
                            </mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                </mat-selection-list>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel hideToggle class="accordian-style mt-5">
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        <div class="col-12">
                            <mat-label class="col-8 config-label">A.13.2 Information transfer</mat-label>
                            <mat-label class="col-4 float-end config-right-text">est. 500h</mat-label>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="col-12">
                            <mat-label class="desc-label">Securing the information transfer is needed to mitigate the
                                following risks...
                            </mat-label>
                        </div>
                    </mat-panel-description>
                </div>
                <mat-progress-bar mode="determinate" value="10" class="mat-progress-bar-element mt-5">
                </mat-progress-bar>
            </mat-expansion-panel-header>
            <div class="mt-5">
                <mat-selection-list (selectionChange)="onChange($event)">
                    <mat-list-option checkboxPosition="before">

                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.1 Information tranfer policies and procedures
                            </mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                    <mat-list-option checkboxPosition="before">

                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.2 Agreements on information transfer</mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                    <mat-list-option checkboxPosition="before">
                        <div class="col-12">
                            <mat-label class="col-8 config-label">13.2.3 Electronic messaging</mat-label>
                            <mat-label class="col-4 float-end config-right-text"> <i class="fas fa-caret-right"></i>
                            </mat-label>
                        </div>
                    </mat-list-option>
                    <mat-divider class="mt-3 mb-3"></mat-divider>
                </mat-selection-list>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div id="exampleModal" class="basic modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        dialogClass="modal-dialog-centered" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0">Electronic Messaging</h5>
                    <mat-label class="control-frame-label">ISO27002 > A13.2.3</mat-label>
                    <button class="close basic-close" data-dismiss="modal" aria-label="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="modal-body">
                    <mat-label class="control-frame-select">Information involved in electronic messaging shall be
                        appropriately protected...<a href="#" class="setup-button float-right">READ MORE</a>
                    </mat-label>
                    <div class="mt-5">
                        <mat-label class="control-frame-label">1. SELECT ACTIONS</mat-label>
                        <mat-selection-list [(ngModel)]="selectedOptions" (selectionChange)="onChangeModel($event)">
                            <mat-list-option>
                                Data encryption<br />
                                <mat-label class="desc-label mt-2">est. 80h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Implement API Keys<br />
                                <mat-label class="desc-label mt-2">est. 120h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Implement monitoring<br />
                                <mat-label class="desc-label mt-2">est. 20h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Authentication and Authorization<br />
                                <mat-label class="desc-label mt-2">Ana K. Orvarsson
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                        </mat-selection-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="exampleModal1" class="center modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        dialogClass="modal-dialog-centered" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0">Assign Responsible</h5>
                </div>
                <div class="modal-body">
                    <mat-form-field appearance="outline">
                        <mat-label>Responsible</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(fruit)">
                                {{fruit.name}}
                                <button matChipRemove *ngIf="removable">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Search" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-hint>You can search by name or role</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contributor</mat-label>
                        <mat-chip-list #chipList1 aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(fruit)">
                                {{fruit.name}}
                                <button matChipRemove *ngIf="removable">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Search" [matChipInputFor]="chipList1"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-hint>You can search by name or role</mat-hint>
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" (click)="showSuccess()">ASSIGN</button>
                </div>
            </div>
        </div>
    </div>
</div>