.logo-container {
    width: 100%;
}
.mat-toolbar.mat-primary {
    background: black !important;
}
.logo {
    margin-left: 25px;
}
.headericondiv {
    width: 100%;
}
.headericon{
    float: right;
    margin-right: 35px;
}
