<!-- <p>manage-framework works!</p> -->
<div class="container">
    <mat-label class="control-frame-label">CONTROL FRAMEWORK CONFIGURATION</mat-label>
    <h1 class="manage-frame-h1">Manage frameworks</h1>
    <mat-label class="control-frame-select">Select wether you wish to configure your controls by risk or framework
    </mat-label>

    <div class="row col-12 mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <img class="mx-auto" mat-card-xl-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <mat-label class="configure-label">Configure by framework</mat-label><br />
                    <mat-label class="standard-label">50 ISO standards supported</mat-label>
                    <div class="mt-5">
                        <mat-label class="desc-label">If you don't have the capacity to make a proper risk assessment,
                            then
                            following a standard is a good option.</mat-label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <img class="mx-auto" mat-card-xl-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <mat-label class="configure-label">Configure by framework</mat-label><br />
                    <mat-label class="standard-label">200 Risks to choose from</mat-label>
                    <div class="mt-5">
                        <mat-label class="desc-label">If you know what risk you need to mitigate, this is the fastest
                            way forward. By knowing your risk you can easily select controls that targets it.
                        </mat-label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>