<!-- <p>manage-framework works!</p> -->
<div class="container">
    <mat-label class="control-frame-label">CONTROL FRAMEWORK CONFIGURATION</mat-label>
    <h1 class="manage-frame-h1">Manage frameworks</h1>
    <mat-label class="control-frame-select">Select wether you wish to configure your controls by risk or framework
    </mat-label>

    <div class="row col-sm-12 col-lg-12 col-md-12 mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-1">
            <mat-card class="example-card" routerLink="/dashboard/frameworks">
                <mat-card-title-group>
                    <img class="mx-auto" mat-card-xl-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <mat-label class="configure-label">Configure by framework</mat-label><br />
                    <mat-label class="standard-label">50 ISO standards supported</mat-label>
                    <div class="mt-5">
                        <mat-label class="desc-label">If you don't have the capacity to make a proper risk assessment,
                            then
                            following a standard is a good option.</mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-1">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <img class="mx-auto" mat-card-xl-image
                        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <mat-label class="configure-label">Configure by framework</mat-label><br />
                    <mat-label class="standard-label">200 Risks to choose from</mat-label>
                    <div class="mt-5">
                        <mat-label class="desc-label">If you know what risk you need to mitigate, this is the fastest
                            way forward. By knowing your risk you can easily select controls that targets it.
                        </mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row col-12 mt-5">
        <h2 class="manage-frame-h2">Current configuration</h2>
        <div class="ml-5 mr-5">
            <div class="col-12 config-content">
                <mat-label class="config-label">ISO 27002 International standard</mat-label>
                <mat-label class="float-right config-right-text">Security</mat-label>
            </div>
            <div class="col-12 config-content">
                <mat-label class="desc-label">This framework contains controls with pre-defined activities which can
                    immediately be assigned and implemented.
                </mat-label>
            </div>
            <div class="mt-3 mb-3 config-content">
                <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
            </div>
        </div>
        <div class="ml-5 mr-5">
            <div class="col-12 config-content">
                <mat-label class="config-label">UN Global goals for a sustainable development</mat-label>
                <mat-label class="float-right config-right-text">Sustainability</mat-label>
            </div>
            <div class="col-12 config-content">
                <mat-label class="desc-label">This framework contains controls with pre-defined activities which can
                    immediately be assigned and implemented.
                </mat-label>
            </div>
            <div class="mt-3 mb-3 config-content">
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>
    <div id="exampleModal" class="basic modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        dialogClass="modal-dialog-centered" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0">Electronic Messaging</h5>
                    <mat-label class="control-frame-label">ISO27002 > A13.2.3</mat-label>
                    <button class="close basic-close" data-dismiss="modal" aria-label="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="modal-body">
                    <mat-label class="control-frame-select">Information involved in electronic messaging shall be
                        appropriately protected...<a href="#" class="setup-button float-right">READ MORE</a>
                    </mat-label>
                    <div class="mt-5">
                        <mat-label class="control-frame-label">1. SELECT ACTIONS</mat-label>
                        <mat-selection-list [(ngModel)]="selectedOptions" (selectionChange)="onChange($event)">
                            <mat-list-option>
                                Data encryption<br />
                                <mat-label class="desc-label mt-2">est. 80h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Implement API Keys<br />
                                <mat-label class="desc-label mt-2">est. 120h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Implement monitoring<br />
                                <mat-label class="desc-label mt-2">est. 20h
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                            <mat-list-option>
                                Authentication and Authorization<br />
                                <mat-label class="desc-label mt-2">Ana K. Orvarsson
                                </mat-label>
                            </mat-list-option>
                            <mat-divider class="mt-3 mb-3"></mat-divider>
                        </mat-selection-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="exampleModal1" class="center modal fade" tabindex="-1" role="dialog" aria-hidden="true"
        dialogClass="modal-dialog-centered" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mb-0">Assign Responsible</h5>
                </div>
                <div class="modal-body">
                    <mat-form-field appearance="outline">
                        <mat-label>Responsible</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(fruit)">
                                {{fruit.name}}
                                <button matChipRemove *ngIf="removable">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Search" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-hint>You can search by name or role</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contributor</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(fruit)">
                                {{fruit.name}}
                                <button matChipRemove *ngIf="removable">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Search" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-hint>You can search by name or role</mat-hint>
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary">ASSIGN</button>
                </div>
            </div>
        </div>
    </div>
</div>