<!-- <p>manage-framework works!</p> -->
<div class="container">
    <mat-label class="control-frame-label">MANAGE FRAMEWORKS / FRAMEWORKS</mat-label>
    <h1 class="manage-frame-h1">Frameworks</h1>
    <mat-label class="control-frame-select">Select which standard you want to follow in order too. If you're looking for
        the latest in wireless headphones for your enjoyment and private listening, whether to TV, stereo, home
        entertainment such as theater, iTunes or Ipod, you might do well to look at the highly recommended Sennheiser RS
        130 wireless headphones. </mat-label>

    <div class="row mt-5">
        <div class="col-12">
            <mat-card class="example-card" routerLink="/dashboard/control-library">
                <mat-card-title-group>
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-heart frameworks-card"></i>
                        </div>
                        <div>
                            <mat-label class="configure-label">ISO 27002 International Standard</mat-label><br />
                            <mat-label class="standard-label">Security</mat-label>
                        </div>
                    </div>

                    <div class="mt-5">
                        <mat-label class="desc-label">This framework contains controls with pre-defined activites which
                            can immediatly be assigned and implemented</mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar class="frame-progress" mode="determinate" value="75"></mat-progress-bar>
        </div>

        <div class="col-12 mt-4">
            <mat-card class="example-card">
                <mat-card-title-group>
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-heart frameworks-card"></i>
                        </div>
                        <div>
                            <mat-label class="configure-label">UN Global goals for a sustainable developement
                            </mat-label><br />
                            <mat-label class="standard-label">Sustainability</mat-label>
                        </div>
                    </div>

                    <div class="mt-5">
                        <mat-label class="desc-label">This framework contains controls with pre-defined activites which
                            can immediatly be assigned and implemented</mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar class="frame-progress" mode="determinate" value="40"></mat-progress-bar>

        </div>

        <div class="col-12 mt-4">
            <mat-card class="example-card">
                <mat-card-title-group>
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-heart frameworks-card"></i>
                        </div>
                        <div>
                            <mat-label class="configure-label">GDPR</mat-label><br />
                            <mat-label class="standard-label">Privicy</mat-label>
                        </div>
                    </div>

                    <div class="mt-5">
                        <mat-label class="desc-label">If you don't have the capacity to make a proper risk assessment,
                            then
                            following a standard is a good option.</mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar class="frame-progress" mode="determinate" value="50"></mat-progress-bar>

        </div>

        <div class="col-12 mt-4">
            <mat-card class="example-card">
                <mat-card-title-group>
                </mat-card-title-group>
                <mat-card-content class="mt-2">
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-heart frameworks-card"></i>
                        </div>
                        <div>
                            <mat-label class="configure-label">ISO 1234562 International standard</mat-label><br />
                            <mat-label class="standard-label">Security stuff</mat-label>
                        </div>
                    </div>

                    <div class="mt-5">
                        <mat-label class="desc-label">If you don't have the capacity to make a proper risk assessment,
                            then
                            following a standard is a good option.</mat-label>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="setup-button">SET UP</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar class="frame-progress" mode="determinate" value="58"></mat-progress-bar>

        </div>

    </div>
</div>