<!-- <p>manage-framework works!</p> -->
<div class="container">
    <mat-label class="control-frame-label">MANAGE FRAMEWORKS / FRAMEWORKS / ISO27002 INTERNATIONAL STANDARD</mat-label>
    <h1 class="manage-frame-h1">Control Library</h1>
    <mat-label class="control-frame-select">Get started by selecting the controls you which to implement. If you're
        looking for the latest in wireless headphones for your enjoyment and private listening, whether to TV, stereo,
        home entertainment such as theater, ITunes or Ipod, you might do well to look at the highly recommended
        Sennheiser RS 130 wireless headphones. </mat-label>

    <div class="row mt-5">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Operations security</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Access control</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Asset Management</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile routerLink="/dashboard/communications-security">
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Communications Security</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="row mt-1">
        <mat-grid-list cols="6" rowHeight="1:1">
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Suppl...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Policies</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Contin...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Compl...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Insident...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Crypto...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="row mt-1">
        <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Human Resou...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Organization of...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">System acqui...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="mat-grid-tile-content">
                    <div class="mat-grid-tile-content-div config-content-control-library">
                        <mat-label class="control-lib-title">Physical and...</mat-label>
                        <mat-icon class="float-right">
                            <i class="fas fa-plus-circle"></i>
                        </mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>