// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jonas-primary: mat.define-palette(mat.$indigo-palette);
$jonas-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jonas-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jonas-theme: mat.define-light-theme(
  (
    color: (
      primary: $jonas-primary,
      accent: $jonas-accent,
      warn: $jonas-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jonas-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding-top: var(--bs-gutter-x, 2.5rem);
}
.control-frame-label {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}
.manage-frame-h1 {
  font-size: 60px !important;
  font-weight: lighter !important;
  line-height: initial !important;
}
.control-frame-select {
  letter-spacing: 1px;
  font-size: 13px;
}
mat-card {
  box-shadow: none !important;
  border: 2px solid #d6d6d6 !important;
}
.mat-card > .mat-card-xl-image:first-child {
  margin: 0px !important;
}
.configure-label {
  font-size: 20px;
  font-weight: 500;
}
.standard-label {
  color: grey;
  font-size: 14px;
  letter-spacing: 1px;
}
.desc-label {
  font-size: 13px;
  color: grey;
  letter-spacing: 1px;
}
.manage-frame-h2 {
  font-size: 48px !important;
  font-weight: 400 !important;
}
.float-right {
  float: right !important;
}
.config-content {
  padding-left: 15px;
  padding-right: 15px;
}
.config-label {
  font-size: 17px;
}
.config-right-text {
  font-size: 13px;
}
.mat-progress-bar-fill::after {
  background-color: #018786;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.mat-typography h2 {
  line-height: initial !important;
}
.setup-button{
  font-weight: 550;
  color: #873cf2;
  text-decoration: none;
}
