p {
    font-family: Lato;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 260px;
    background-color: white;
    margin-top: 65px;
}
@media (max-width: 599px) {
    mat-sidenav {
        margin-top: 56px;
    }
}
